.container {
  margin: 50px 0;
  width: 100%;
}

.card {
  margin: 0 2% !important;
  height: 100% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.newInfected {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
.newDeaths {
  border-bottom: 10px solid rgba(255, 0, 255, 0.5);
}
